.header {
  display: flex;
}

.invalid {
  border-color: red;
}

.input-form {
  display: flex;
  flex-direction: column;
}

.todo-item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
