/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Styling begins here */

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  background: rgb(94, 133, 198);
  background: linear-gradient(180deg,
      rgba(94, 133, 198, 1) 0%,
      rgba(157, 226, 255, 1) 60%,
      rgba(255, 255, 255, 1) 100%);
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  font-size: 1.2rem;
}

.header {
  display: flex;
}

.app {
  width: 60%;
}

.form-box {
  background-color: lightblue;
  padding: 15px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.app>* {
  margin: 10px;
}

.header-row {
  width: 100vw;
  background-color: rgba(255, 254, 157, 1);
  color: rgba(252, 85, 70, 1);
  margin-bottom: 50px;
}

h1 {
  font-size: 5rem;
  font-weight: 900;
  margin: 15px;
}

.projects-container {
  display: flex;
  align-items: center;
  gap: 3px;
  margin-bottom: 10px;
}

.new-project {
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
  font-size: 1.5rem;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 6px;
  padding-right: 6px;
}

input {
  background-color: white;
  border: 2px solid white;
  border-radius: 10px;
  padding: 5px;
  margin: 2px;
}

select {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: white;
  margin: 5px;
}

button {
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

#submit-button {
  background-color: #2196f3;
  color: #fff;
}

#submit-button:hover {
  background-color: #0b7dda;
}

.invalid {
  border-color: red;
}

.todo-title {
  font-size: 1.5rem;
}

.input-form {
  display: flex;
  flex-direction: column;
}

.list-container {
  background-color: lightgrey;
}

.todo-description-container,
.todo-date-container {
  color: grey;
}

.todo-item-container {
  padding: 5px;
  display: grid;
  grid-template-columns: 50px 50px 1fr 60px;
  align-items: center;
  background-color: white;
}

.todo-priority-container {
  font-size: 2rem;
  font-weight: 550;
}

.todo-checkbox-container {
  padding: 15px;
}

.todo-text-container {
  flex: 4 0 auto;
}

.todo-button-container {
  padding: 5px;
}
