body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  background: rgb(94, 133, 198);
  background: linear-gradient(180deg,
      rgba(94, 133, 198, 1) 0%,
      rgba(157, 226, 255, 1) 60%,
      rgba(255, 255, 255, 1) 100%);
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
}

.app {
  background-color: lightblue;
  padding: 10px;
  width: 30%;
  border-radius: 15px;
  border: white solid 2px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.invalid {
  border-color: red;
}

.input-form {
  display: flex;
  flex-direction: column;
}

.todo-item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sand {
  background: rgb(198, 175, 94);
  background: linear-gradient(3deg,
      rgba(198, 175, 94, 1) 0%,
      rgba(255, 254, 157, 1) 55%);
  z-index: 2;
  position: fixed;
  bottom: 0;
  left: -50vw;
  height: 150px;
  width: 150vw;
  margin: 0;
  padding: 0;
}

.sun {
  z-index: 1;
  display: inline-block;
  height: 250px;
  width: 250px;
  position: fixed;
  bottom: 0vh;
  border-radius: 100%;
  background: rgb(251, 185, 63);
  background: radial-gradient(circle,
      rgba(251, 185, 63, 1) 23%,
      rgba(252, 85, 70, 1) 100%);
}
